<?xml version="1.0"?>
<model>
  <name>guardrail_panel_slope_1m</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>generated</name>
    <email>n/a</email>
  </author>
  <description>
    1m modular guardrail panel intended to be placed on stairs by applying pitch in world pose.
    Tilt the whole panel using <pose> roll pitch yaw </pose>.
  </description>
</model>

