<?xml version='1.0'?>

<robot name="uni050" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="PI" value="3.1415926535897931"/>

  <xacro:property name="odom_update" value="100"/>

  <xacro:property name="base_linkHeight" value="0.05"/>
  <xacro:property name="base_linkLength" value="0.512"/>
  <xacro:property name="base_linkWidth" value="1.423"/>
  <xacro:property name="base_linkMass" value="10"/>
  <xacro:property name="base_linkRadius" value="1.347"/>

  <!-- Laser -->
  <xacro:property name="laseroriginX" value="0.238"/>
  <xacro:property name="laseroriginY" value="0.0"/>
  <xacro:property name="laseroriginZ" value="0.172"/>
  <xacro:property name="laseroriginRx" value="0"/>
  <xacro:property name="laseroriginRy" value="0"/>
  <xacro:property name="laseroriginRz" value="0"/>
  <xacro:property name="laserLength" value="0.061"/>
  <xacro:property name="laserWidth" value="0.061"/>
  <xacro:property name="laserHeight" value="0.086"/>
  <xacro:property name="laserMass" value="0.25"/> 
  <!-- 2.09 radian = 119.74 degree, 2.01 radian = 115.165 -->
  <xacro:property name="min_angle" value="-2.01"/>
  <xacro:property name="max_angle" value="2.01"/>
  <xacro:property name="min_range" value="0.05"/>
  <xacro:property name="max_range" value="25.0"/>
  <xacro:property name="laser_angle_resolution" value="0.33"/>
  <xacro:property name="laser_update_rate" value="15"/>

  <!-- IMU(BN055)-->
  <xacro:property name="Internal_IMUoriginX" value="0.079"/>
  <xacro:property name="Internal_IMUoriginY" value="0.0"/>
  <xacro:property name="Internal_IMUoriginZ" value="0.265"/>
  <xacro:property name="Internal_IMUoriginRx" value="0"/>
  <xacro:property name="Internal_IMUoriginRy" value="0"/>
  <xacro:property name="Internal_IMUoriginRz" value="0"/>
  <xacro:property name="Internal_IMULength" value="0.015"/>
  <xacro:property name="Internal_IMUWidth" value="0.017"/>
  <xacro:property name="Internal_IMUHeight" value="0.01"/>
  <xacro:property name="Internal_IMUMass" value="0.0005"/> 
  <xacro:property name="Internal_IMU_update_rate" value="100"/>

  <!-- front astra camera -->
  <xacro:property name="front_astra_cameraoriginX" value="0.246"/>
  <xacro:property name="front_astra_cameraoriginY" value="-0.02"/>
  <xacro:property name="front_astra_cameraoriginZ" value="0.292"/>
  <xacro:property name="front_astra_cameraoriginRx" value="0"/>
  <xacro:property name="front_astra_cameraoriginRy" value="0"/>
  <xacro:property name="front_astra_cameraoriginRz" value="0"/>
  <xacro:property name="front_astra_cameraMass" value="0.1"/>
  

  <link name='base_link'>
    <visual name="base_link_visual">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="${base_linkRadius}" length="${base_linkHeight}"/>
      </geometry>
    </visual>
  </link>

  <!-- Laser -->
  <link name="front_laser"> </link>
  <joint name="laser_joint" type="fixed">
    <axis xyz="0 1 0" />    
    <origin xyz="${laseroriginX} ${laseroriginY} ${laseroriginZ-0.1}" rpy="${laseroriginRx} ${laseroriginRy} ${laseroriginRz}"/>
    <child link="front_laser"/>
    <parent link="base_link"/>
  </joint>
  
  <!-- IMU(BN055)-->
  <link name="internal_imu_link"> </link>
  <joint name="internal_imu_joint" type="fixed">
    <axis xyz="0 0 1" />
    <origin xyz="${Internal_IMUoriginX} ${Internal_IMUoriginY} ${Internal_IMUoriginZ}" rpy="${Internal_IMUoriginRx} ${Internal_IMUoriginRy} ${Internal_IMUoriginRz}"/>
    <child link="internal_imu_link"/>
    <parent link="base_link"/>
  </joint>


</robot>
