<launch>
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="first_tb3"  default="tb3_burger_0"/>
  <arg name="second_tb3" default="tb3_burger_1"/>
  <arg name="third_tb3"  default="tb3_burger_2"/>

  <arg name="first_tb3_x_pos" default="0.0"/>
<!--
  <arg name="first_tb3_y_pos" default="0.0"/>
-->
  <arg name="first_tb3_y_pos" default="-1.0"/>
  <arg name="first_tb3_z_pos" default="0.0"/>
  <arg name="first_tb3_yaw"   default="0.0"/>

  <arg name="second_tb3_x_pos" default="0.0"/>
  <arg name="second_tb3_y_pos" default="1.0"/>
  <arg name="second_tb3_z_pos" default="0.0"/>
  <arg name="second_tb3_yaw"   default="0.0"/>

  <arg name="third_tb3_x_pos" default="0.0"/>
<!--
  <arg name="third_tb3_y_pos" default="-1.0"/>
-->
  <arg name="third_tb3_y_pos" default="-2.0"/>
  <arg name="third_tb3_z_pos" default="0.0"/>
  <arg name="third_tb3_yaw"   default="0.0"/>


  <arg name="map_file" default="$(find turtlebot3_navigation)/maps/map.yaml"/>
<!--
  <arg name="map_file" default="/root/map_no_roof_warehouse/map.yaml"/>
-->
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>
  <arg name="multi_robot_name" default="tb3_0"/>

  <arg name="gui"                               default="true"/>
  <arg name="debug"                             default="false"/>
<!--
  <arg name="paused"                            default="false"/>
-->
  <arg name="paused"                            default="true"/>
  <arg name="recording"                         default="false"/>
  <arg name="use_sim_time"                      default="true"/>

<!--
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find aws_robomaker_small_warehouse_world)/worlds/no_roof_small_warehouse.world"/>
    <arg name="gui"                               value="$(arg gui)" />
    <arg name="debug"                             value="$(arg debug)" />
    <arg name="paused"                            value="$(arg paused)"/>
    <arg name="recording"                         value="$(arg recording)"/>
    <arg name="use_sim_time"                      value="$(arg use_sim_time)"/>
  </include>
-->


  <!-- Turtlebot3 -->
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>

<group ns = "$(arg first_tb3)">
  <param name="tf_prefix" value="$(arg first_tb3)"/>
  <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation_with_gazebo_ns4_one_robot.launch">
        <arg name="robot_name" value="$(arg first_tb3)"/>
        <arg name="x_pos" value="$(arg first_tb3_x_pos)"/>
        <arg name="y_pos" value="$(arg first_tb3_y_pos)"/>
        <arg name="z_pos" value="$(arg first_tb3_z_pos)"/>
        <arg name="map_file" value="$(arg map_file)"/>
        <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>
</group>

<group ns = "$(arg second_tb3)">
  <param name="tf_prefix" value="$(arg second_tb3)"/>
  <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation_with_gazebo_ns4_one_robot.launch">
        <arg name="robot_name" value="$(arg second_tb3)"/>
        <arg name="x_pos" value="$(arg second_tb3_x_pos)"/>
        <arg name="y_pos" value="$(arg second_tb3_y_pos)"/>
        <arg name="z_pos" value="$(arg second_tb3_z_pos)"/>
        <arg name="map_file" value="$(arg map_file)"/>
        <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>
</group>
-->
  <!-- rviz -->
  <group if="$(arg open_rviz)">
    <node pkg="rviz" type="rviz" name="rviz_turtle" required="true"
          args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation_together.rviz"/>
  </group>


</launch>
