<?xml version="1.0"?>
<model>
  <name>gray_brick_pile</name>
  <version>1.0</version>

  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>custom</name>
    <email>custom@local</email>
  </author>

  <description>
    Gray brick pile obstacle.
    Solid collision included.
    Blocks LiDAR, depth, and camera.
  </description>
</model>

