<?xml version="1.0"?>

<launch>
  <arg name="teb_planner" default="false"/>
  <arg name="base_global_planner" default="navfn/NavfnROS"/>
  <arg name="base_local_planner" default="dwa_local_planner/DWAPlannerROS"/>
  <!-- <arg name="base_local_planner" default="base_local_planner/TrajectoryPlannerROS"/> -->
<!--    <arg name="base_local_planner" default="teb_local_planner/TebLocalPlannerROS"/>-->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <remap from="odom"    to="robot/odom"     />
    <rosparam file="$(find uni_navigation)/config/planner_teb.yaml" command="load" if="$(arg teb_planner)"/>
    <rosparam file="$(find uni_navigation)/config/planner.yaml" command="load" unless="$(arg teb_planner)"/>
    <param name="base_global_planner" value="$(arg base_global_planner)"/>
    <param name="base_local_planner" value="$(arg base_local_planner)"/>

    <!-- observation sources located in costmap_common.yaml -->
    <rosparam file="$(find uni_navigation)/config/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find uni_navigation)/config/costmap_common.yaml" command="load" ns="local_costmap" />

    <!-- global costmap -->
    <rosparam file="$(find uni_navigation)/config/costmap_global.yaml" command="load" ns="global_costmap"/>
    <param name="global_costmap/width" value="100.0"/>
    <param name="global_costmap/height" value="100.0"/>

    <!-- local costmap -->
    <rosparam file="$(find uni_navigation)/config/costmap_local.yaml" command="load" ns="local_costmap" />
    <param name="local_costmap/width" value="10.0"/>
    <param name="local_costmap/height" value="10.0"/>


  </node>

</launch>
