<?xml version="1.0"?>
<model>
  <name>door_steel_round</name>
  <version>1.0</version>

  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>your_name</name>
    <email>your@email.com</email>
  </author>

  <description>
    Steel swing door with frame and round metal handle
  </description>
</model>

