
<launch>
  <!-- #### World #### -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find aws_robomaker_small_warehouse_world)/worlds/no_roof_small_warehouse.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <!-- #### World End #### -->

  <!-- #### Turtlebot3 - Burger #### -->
  <arg name="tb3_0" default="tb3_0"/>

  <arg name="tb3_0_x_pos" default="0.0"/>
  <arg name="tb3_0_y_pos" default="0.0"/>
  <arg name="tb3_0_z_pos" default="0.0"/>
  <arg name="tb3_0_yaw" default="0.0"/>

  <group ns="$(arg tb3_0)">
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro" />
    <param name="tf_prefix" value="$(arg tb3_0)"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
    </node>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg tb3_0) -x $(arg tb3_0_x_pos) -y $(arg tb3_0_y_pos) -z $(arg tb3_0_z_pos) -Y $(arg tb3_0_yaw) -param robot_description" />
  </group>
  <!-- #### Turtlebot3 - Burger End #### -->

  <!-- #### Turtlebot3 - Burger #### -->
  <arg name="tb3_1" default="tb3_1"/>

  <arg name="tb3_1_x_pos" default="0.5"/>
  <arg name="tb3_1_y_pos" default="0.5"/>
  <arg name="tb3_1_z_pos" default="0.0"/>
  <arg name="tb3_1_yaw" default="0.0"/>

  <group ns="$(arg tb3_1)">
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro" />
    <param name="tf_prefix" value="$(arg tb3_1)"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="50.0" />
    </node>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg tb3_1) -x $(arg tb3_1_x_pos) -y $(arg tb3_1_y_pos) -z $(arg tb3_1_z_pos) -Y $(arg tb3_1_yaw) -param robot_description" />
  </group>
  <!-- #### Turtlebot3 - Burger End #### -->

</launch>